<% provide(:title, "Master") %>
<h1><%= t "log_in" %></h1>
  <div class="col-md-8">
    <%= form_for(:session, url: admin_login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t "remember_password" %></span>
      <% end %>

      <%= f.submit t("log_in"), class: "btn btn-primary submit-btn" %>
    <% end %>
  </div>

