<tr>
  <td class= "text-center"><%= vocabulary.id.to_s %></td>
  <td class= "text-center lesson-name"><%= vocabulary.name %></td>
  <td class= "text-center lesson-name"><%= vocabulary.lesson_name %></td>
  <td class= "text-center lesson-name"><%= vocabulary.description %></td>
  <td class= "text-center lesson-name"><%= vocabulary.example %></td>
  <td class="text-center">
    <%= link_to edit_admin_vocabulary_path(vocabulary), class: "glyphicon glyphicon-pencil icon-size", title: t("edit") do %>
      <a href="#" class="fa fa-edit edit-btn"></a>
    <% end %>
    <%= link_to "", admin_vocabulary_path(vocabulary), class: "trash glyphicon glyphicon-trash icon-size",
      title: t("delete"), method: :delete, data: {confirm: t("are_you_sure")} %>
  </td>
</tr>
