<% if logged_in? %>
  <% if @vocabularies.any? %>
    <% if (Answer.find_by_vocabulary @vocabularies[0].id).any? %>
      <h3 class="text-center start-lesson-btn">
        <%= form_for UserLesson.new do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :lesson_id, value: params[:id] %>
          <%= f.submit t("practice_this_lesson"), class: "btn btn-success" %>
        <% end %>
      </h3>
    <% else %>
    <% end %>
  <% else %>
    <h2><%= t "we_will_add_words" %></h2>
  <% end %>
<% else %>
<% end %>
<div class="word-list">
  <ol><%= render @vocabularies %></ol>
</div>
