<tr>
  <td class="text-center"><b><%= link_to user_lesson.lesson_name, user_lesson_url(user_lesson) %></b></td>
  <td class="text-center"><b><%= user_lesson.point %>/<%= count_vocabulary(user_lesson) %></b></td>
  <% if user_lesson.point == count_vocabulary(user_lesson) %>
    <td class="text-center passed_status"><b><%= t "passed" %></b></td>
  <% else %>
    <td class="text-center failed_status"><b><%= t "try_again" %></b></td>
  <% end %>
  <td class="text-center"><b><%= l(user_lesson.created_at, format: :own) %></b></td>
</tr>
