<li>
  <p class="vocabulary"><%= link_to vocabulary.name, vocabulary %></p>
  <h4><%= t "find_the_definition" %></h4>
  <%= form_for @new_result, remote: true do |f| %>
    <%= f.hidden_field :user_lesson_id, value: params[:id] %>
    <%= f.hidden_field :vocabulary_id, value: vocabulary.id %>
    <ol>
    <%= f.collection_radio_buttons  :answer_id, Answer.find_by_vocabulary(vocabulary.id), :id, :content do |b| %>
      <li>
        <%= b.radio_button(class: "check-box") %>
        <%= b.label(class:"styled-checkbox") %>
      </li>
    <% end %>
    </ol>
    <h4 id="hidden-answer<%= vocabulary.id %>"></h4>
    <div id="submit-btn<%= vocabulary.id %>">
    <%= render "vocabularies/submit_btn" %>
  <% end %>
</li>
