<div class="col-md-8 col-md-offset-2 admin-table">
  <%= link_to new_admin_course_path , class: "btn btn-success create-btn" do %>
    <i class="glyphicon glyphicon-plus"></i>
    <%= t "create_new_course" %>
  <% end %>
  <table class="table table-hover text-center">
    <thead>
      <tr>
        <th class="col-md-1 text-center"><%= t "number" %></th>
        <th class="col-md-2 text-center"><%= t "course_name" %></th>
        <th class="col-md-2 text-center"><%= t "course_image" %></th>
        <th class="col-md-2 text-center"><%= t "action" %></th>
      </tr>
    </thead>
    <tbody id="requests-table">
      <%= render @courses %>
    </tbody>
  </table>
    <%= paginate @courses %>
</div>
