<div class="nav-side-menu col-md-2">
  <div class="brand" style="height: 52px;"><%= link_to t("fast_king"), admin_lessons_path %></div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse out">
        <a href="<%= admin_lessons_path %>" class="category">
          <li><i class="glyphicon glyphicon-list-alt"></i> <%= t "lesson_managerment" %></li>
        </a>
        <a href="<%= admin_vocabularies_path %>" class="category">
          <li><i class="glyphicon glyphicon-list-alt"></i> <%= t "vocabulary_managerment" %></li>
        </a>
        <%= link_to logout_path, method: :delete, class: "log-out-row"  do %>
          <i class="glyphicon glyphicon-log-out"></i><%= t "log_out" %>
        <% end %>
      </ul>
    </div>
</div>
