<div id="footerblurb">

  <div class="column">
    <h2><span><%= t "hanoi" %></span></h2>
    <p><%= t "hanoi_description" %></p>
  </div>
  <div class="column">
    <h2><span><%= t "danang" %></span></h2>
    <p><%= t "danang_description" %></p>
  </div>
  <div class="column">
    <h2><span><%= t "ho_chi_minh" %></span></h2>
    <p><%= t "ho_chi_minh_description" %></p>
  </div>
  <div class="clr"></div>
</div>
  <footer id="footer">
    <div id="footer-inner">
      <p>&copy; <%= t "copyright" %> <a href="#"><%= t "fast_king" %></a> &#124; <a href="#"><%= t "term_of_use" %></a> &#124; <a href="#"><%= t "privacy" %></a></p>
      <div class="clr"></div>
    </div>
  </footer>
</div>
