<header id="header">
  <div id="header-inner">
    <div id="logo">
      <h1><span><%= link_to t(".fastking"), root_path %></span></h1>
    </div>
    <div id="top-nav">
      <ul>
        <li> 
          <div class="dropdown"><button class="btn glyphicon glyphicon-th-list btn-success  dropbtn">
            <b class="text-center"><%= t "courses" %></b></button>
            <div class="dropdown-content">
              <%= render @courses %>
            </div>
          </div>
        </li>
        <% unless logged_in? %>
          <li><button class="btn btn-success sign_up_button" data-toggle="modal" data-target="#signup"><%= t "sign_up" %></button></li>
          <li><button class="btn btn-success sign_up_button" data-toggle="modal" data-target="#login"><%= t "log_in" %></button></li>
          <%= render "layouts/sign_up_modal" %>
          <%= render "layouts/log_in_modal" %>
        <% else %>
          <li><%= link_to t("word_list"), vocabularies_path, class: "btn btn-success glyphicon glyphicon-text-background word-list-btn" %></li>
          <li class="log-out-btn">
            <%= link_to t("log_out"), logout_path, method: :delete, class: "btn btn-success" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</header>
